.PlayerForm {
  display: block;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

label {
  display: block;
  margin: 1rem;
}

.input {
  box-sizing: border-box;
  background-color: white;
  width: fit-content;
  padding: 0.2rem;
  margin: 0 auto 0 auto;
  border-radius: 1.8rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.6rem;
  border-radius: 1.6rem;
}

.ai-button {
  margin-top: 1rem;
}

@media only screen and (max-width: 40rem) {
  .PlayerForm {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
  }

  .input {
    width: 100%;
    display: flex;
  }
}
